@{
  Layout = "_Layout";
}

@using FavoriteRestaurant.Models;
@model List<FavoriteRestaurant.Models.Cuisine>;

<h1>Cuisines</h1>






@if (@Model.Count == 0)
{
  <h3>No cuisines have been added yet! Please add a cuisine.</h3> 
  <p>@Html.ActionLink("Add new cuisine", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>

}
else

{
@foreach (Cuisine cuisine in Model)
{
  <li>@Html.ActionLink($"{cuisine.Type}", "Details", new { id = cuisine.CuisineId })</li>
}
<p>@Html.ActionLink("Add new cuisine", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add a new Restaurant to the Favorite Restaurants List", "Create", "Restaurants")</p>
}

  
    
  




